## 折り返さない
set nowrap

## Tabの長さ
set tabsize 4

## Tabをスペースにする
set tabstospaces

## 自動インデント
set autoindent

## スムーズスクロール
set smooth

## 行番号
set linenumbers

##シンタックスハイライトの設定
include "/usr/share/nano/*"
